.header__lang-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
}

.header__lang-link:nth-of-type(1) {
    margin-right: 18px;
    text-decoration: underline;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    } 
}