.places {
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .places  {
        max-width: calc(100vw - 60px);
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
    }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
    .places  {
        max-width: calc(100vw - 32px);
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
    }
}