.place__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph  {
        font-size: 16px;
    }
}

@media screen and (min-width: 321px) and (max-width: 600px) {
    .place__paragraph  {
        font-size: 16px;
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph  {
        font-size: 16px;
        max-width: 288px;
        margin: 0 auto;
    }
}