.place__link{
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.place__link:hover {
    cursor: url(../../../images/Pointer.png), pointer;
}