.place {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 0 80px;
    margin: 0;
}

.place:last-child {
    padding-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .place {
        padding-bottom: 73px;
    }

    .place:last-child {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 650px) {
    .place {
        grid-template-columns: 1fr;
        padding-bottom: 50px;
    }

    .place:last-child {
        padding-bottom: 66px;
    }
}